# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/JAVA/Ejemplo1/nbproject/private/
/JAVA/Ejemplo1/build/
/JAVA/Ejemplo2/target/
/JAVA/Ejemplo10/nbproject/private/
/JAVA/Ejemplo3/nbproject/private/
/JAVA/Ejemplo3/build/
/JAVA/Ejemplo3/dist/
/JAVA/Ejemplo6/target/
/JAVA/Configuracion/JavaApplication6/nbproject/private/
/JAVA/Configuracion/JavaApplication6/build/
/JAVA/Configuracion/JavaApplication6/dist/
/JAVA/Primitivos/Primittivos1/target/
/JAVA/clases/Ejemplo1/nbproject/private/
/JAVA/clases/Ejemplo2/nbproject/private/
/JAVA/clases/Ejemplo2/build/
/JAVA/basico/Ejemplo1/target/
/JAVA/basico/Ejemplo2/target/
/JAVA/wrappers/Wrappers/target/
/JAVA/clases/WrappersEjemplo2/target/
/JAVA/basico/Ejemplo3/target/